body{background: linear-gradient(to right, #9796f0, #fbc7d4);}
img:hover {
    color: #111;
    background: rgb(180, 227, 108);
    box-shadow: 0 0 100px greenyellow;
        }



.search {
    text-align: center;
}

.card-text {
    text-align: center;
}

#fan {border: none;}

#bulb {border: none;}

#led {border: none;}

.search {
    margin-top: 10px;
}

.col {
    margin: 50px;
    margin-left: 100px;
}
.buttonbulb{background-color: #fbc7d4;}
.buttonbulb:hover{background-color: #9796f0;}